<launch>
  <master auto="start"/>

  <node name="map_server" pkg="map_server" type="map_server" args="$(find geometry)/maps/empty.yaml" respawn="false" />
  <node pkg="geometry" type="geometry_node" name="geometry_node" respawn="false" output="screen" >
    <param name="expand_method" value="clipper2"/>
    <param name="expand_distance" value="0.2"/>
  </node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find geometry)/cfg/default.rviz" respawn="false" />
</launch>
